.scroll-area{
    height: calc(100vh - 48px);
}

.border-all{
    border-left: 4px solid #3CD1C2;
}

.border-part{
    border-left: 4px solid #ffa500;
}

.border-none{
    border-left: 4px solid #f83e70;
}

.v-card.on-hover{
    background: rgb(219, 217, 217);
}
